<!DOCTYPE html>
<html>
    <head>
        <title>SR5 GM Manager - Character</title>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <section>
            <h1>Character sheet</h1>
        </section>

        <% include ../partials/scripts.ejs %>
    </body>
</html>